*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'arial', sans-serif;
    background-color: #fff;
}

h1{
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
}

h2 {
    text-align: center;
    font-size: 14px;
}
form {
    width: 350px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #27a12d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error-mensaje {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
